<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Symfony and React</title>
		{{ encore_entry_link_tags('app') }}

		{# Include CSS files #}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
        />
	</head>
    <div id="root">
        {{ encore_entry_script_tags('app') }}
    </div>
</html>
